/* .box{
   width: 1440px;
   height:800px;
} */
*
{
    font-family: 'Spartan', sans-serif;
    margin:0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;   
}
.parent{
     max-height: auto; 
     max-width: 1140px; 
     /* border: 5px solid black;     */  
     margin-top:110px;
     margin-left: auto;
     margin-right: auto;   
     display:flex;
     justify-content: space-between; 
     flex-direction: column;
     flex-wrap: wrap;  
     align-items: flex-start;
}
h1{
    font-size: 50px;
    font-family: 'Spartan', sans-serif;
    color: hsl(300, 43%, 22%);
  }
.upstairs
 {  
     width: 100%; 
     display: flex;
     justify-content: space-between;   
     flex-wrap: wrap; 
     /* column-gap: 130px;  */
 }
.intro{
     width: 446px;
     padding-left: 5px;
} 
.ratings
{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width:467px; 
    /* margin: auto;  */
} 
.rating
{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px; 
    background-color:hsl(300, 24%, 96%);
    padding: 10px;   
    padding-left: 30px;  
}
.rating:nth-of-type(1)
{
    margin-right: 30px;
    margin-bottom: 10px;
    
  
}
.rating:nth-of-type(2)
{
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
  
}
.rating:nth-of-type(3)
{
    margin-left:30px;
  
}
/* .rating2
{
    display: flex;
    flex-direction: row;
}.rating3
{
    display: flex;
    flex-direction: row;
} */

/* {
    width:100%;
    margin: auto;
    display: flex;
} */
img
{   
    object-fit: contain; 
    border-radius: 50%;   
}
.downstairs
 {  
     width: 100%; 
     display: flex;
     justify-content: center;  
     margin-top: 50px;  
     flex-wrap: wrap; 
     /* column-gap: 130px; */
 } 
.colrev:nth-of-type(1)
{    height: 60px;
     display: flex; 
     align-items: center;
     margin-right: 30px;  
}
.colrev:nth-of-type(2)
{
     display: flex; 
     align-items: center;
     margin-right: 30px;
} 
.colrev:nth-of-type(3)
{
     display: flex; 
     align-items: center;
}     
span
{
    padding: 20px;
}   
.colton
{
 max-width: 350px;
 background-color: hsl(300, 43%, 22%);
 border-radius: 10px;
 margin-right: 30px;
 padding: 30px;
 margin-bottom: 32px;
 color: white;
} 
.colrev img{
    height: 45px;
}  
.irene
{
 
 max-width: 350px;
 background-color: hsl(300, 43%, 22%);
 border-radius: 10px;
 margin-right: 30px;
 margin-top: 16px;
 padding: 30px;
 margin-bottom: 16px;
 color: white;
}    
.Anne
{
 
 max-width: 350px;
 background-color: hsl(300, 43%, 22%);
 border-radius: 10px;
 margin-top: 32px;
 padding: 30px;
 color: white;
} 
p{
    padding: 10px 0px; 
}
h6{
    font-weight: 400;
    margin-top: 5px;
    opacity: 0.5;
}


@media  screen and (max-width:768px) 
{
    .intro
    {   
        margin: 0 25px;
        width: 100%;
    }
    .rating:nth-of-type(1)
    {
        margin: 7px 25px;
      
    }
    .rating:nth-of-type(2)
    {
        margin: 7px 25px;
    }
    .rating:nth-of-type(3)
    {
        margin: 7px 25px;
    }
    .Anne
    {
        margin-right: 20px;
        margin-left: 10px;
    }
    .colton
    {
        margin-right: 20px;
        margin-left: 15px;
    }
    .irene
    {
        margin-right: 20px;
        margin-left: 15px;
    }
    /* .rev{
        padding: 0px;
        align-content: flex-start;
    } */
    .rating
    {
        justify-content: center;
        flex-direction: column;
    }
    .rating p
    {
    padding-bottom: 0px;
    }
}


